[
  { "slideId": "hogehoge", "date": "2024-08-24" },
  { "slideId": "foofoo", "date": "2024-08-25" },
  { "slideId": "piyopiyo", "date": "2024-08-26" },
  { "slideId": "fugafuga", "date": "2024-08-27" }
]
